body {
    padding: 0;
    margin: 0;
}

section#header, section#footer {
    width: 100%;
    background-color: lightgreen;
    padding: 0;
    margin: 0;
    display: flex;
}

section#header h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0;
}

section#body {
    margin: 10px;
}

section#footer {
    position: absolute;
    bottom: 0;
}